# Машинное обучение и анализ данных
## Для студентов Школы 21
Автор: Хужина Вария  
Репозиторий курса:

# Введение в Python
- Основные типы данных
- Уловный оператор 
- Циклы
- Функции

## Типы данных

**Именования переменных согласно [PEP 8](https://www.python.org/dev/peps/pep-0008/)**  
Предпочтительно маленькие буквы через символ подчеркивания.  
**Замечание**  
Никогда не используйте символы l (маленькая латинская буква «L»), O (заглавная латинская буква «o») или I (заглавная латинская буква «i») как однобуквенные идентификаторы. В некоторых шрифтах эти символы неотличимы от цифры один и нуля. Если очень нужно l, пишите вместо неё заглавную L

## Основные типы данных в Python

- Числа (Numbers) 
- Строка (String) 
- Список (List) 
- Кортеж (Tuple)
- Словарь (Dictionary)
- Множество (Set)
- None type

## Изменяемые (mutable) и неизменяемые (immutable) типы

| mutable    | immutable |
|------------|-----------|
| list       | int, float|
| dictionary | string    |
| set        |  tuple    |
|            |  bool     |
|            | frozenset |

## Числа в Python (неизменяемый тип данных или mutable)

Изменение значения числового типа данных приведет к созданию нового объекта в памяти (и удалению старого)

Числовые типы:
- int
- float
- complex

In [1]:
# int
""" Comment """
x = 10
print(type(x))

<class 'int'>

In [2]:
# float
x = 10.011
print(type(x))

<class 'float'>

In [3]:
# сomplex
x = complex(4, -3)
print(x)
print(type(x))

(4-3j)
<class 'complex'>

In [4]:
# bool
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [4]:
x = 5 * 1000000 * 1000000 * 1000000 * 1000000 * 1000000 * 1000000 + 1
print(x)
print(type(x))

5000000000000000000000000000000000001
<class 'int'>

Некоторые арифметические операции

In [5]:
y = 14
z = 5

In [6]:
c = y / z
print(type(c), c)

<class 'float'> 2.8

Целочисленное деление

In [7]:
c = y // z
print(type(c), c)

<class 'int'> 2

Остаток от деления

In [8]:
c = y % z
print(type(c), c)

<class 'int'> 4

In [9]:
c = abs(-5)
c

5

Приведение типов

In [10]:
int('5')

5

In [11]:
str(5)

'5'

In [1]:
int('45sdfjh')

ValueError: invalid literal for int() with base 10: '45sdfjh'

In [12]:
c = 5
c = float(c)
print(type(c), c)

<class 'float'> 5.0

**Возведение в степень**  
$c = a^b$

In [13]:
с = 5 ** 2
print('a^b = ', c)

a^b =  5.0

In [14]:
c = pow(5, 2)
print('a^b = ', c)

a^b =  25

**Округление**

In [15]:
round(5/7, 3)

0.714

### Модуль math

In [16]:
import math

In [17]:
print(math.pi)

3.141592653589793

In [18]:
math.sin(math.pi / 4)

0.7071067811865475

In [19]:
math.factorial(4)

24

## Все в Python это объекты!

**id(obj) -> int **  
Возвращает идентификатор указанного объекта  
Идентификатор является адресом объекта в памяти

In [20]:
a = 2
print(a, type(a), id(a))

2 <class 'int'> 93839498878208

a - это ссылка на объект в памяти

In [21]:
a = a + 1
print(a, type(a), id(a))

3 <class 'int'> 93839498878240

а теперь указывает на другой объект!!!

In [22]:
b = 2
print(b, type(b), id(b))

2 <class 'int'> 93839498878208

**В Python можно работать с числами в различной системе счисления**

In [23]:
# двоичная система счисления
print(0b0101)

5

In [24]:
# восьмиричная
print(0o0101)

65

In [25]:
# шеснадцетиричная 
print(0x0101)

257

## Множественное "присваивание"

Как поменять значения у двух переменных?  
Ну ... наверное нужно сначала завести третью переменную...

In [26]:
a = 5
b = 10
print('a = {}, b = {}'.format(a, b))

a = 5, b = 10

In [2]:
tmp = a
a = b
b = tmp

NameError: name 'a' is not defined

А можно сделать горазно интересенее!

In [ ]:
a, b = b, a
print('a = {}, b = {}'.format(a, b))

## Строки (неизменяемый тип данных) 
Не важно в каких кавычках

In [62]:
s = 'Hello, world!'
print(s)

Hello, world!

In [65]:
s[-1]

'!'

In [31]:
s = "Hello 'smth'!"
print(s)

Hello 'smth'!

In [32]:
s = 'Hello "smth"!'
print(s)

Hello "smth"!

In [33]:
s = """ "Hello "smth"!" """
print(s)

 "Hello "smth"!"

In [66]:
s = " Вся строка   \
  вместе с форматироканием ля ля ля    \
    юпи!  42"
print(s)

 Вся строка     вместе с форматироканием ля ля ля        юпи!

In [35]:
s = "Вся строка тчк\
  без переноса строчек ля ля ля тчк\
пук    юпи эх школа 21!"
print(s)

Вся строка тчк  без переноса строчек ля ля ля тчкпук    юпи!

## Форматирование строк

In [78]:
a = 4.5345
b = 52.12354

**В стиле С**

In [79]:
s = 'Купи %.2f кг картошки и %3.1f кг оругцов' % (a, b)
print(s)

Купи 4.53 килограмм картошки и 52.1 килограмм оругцов

**В стиле С#**   
предпочтительнее

In [38]:
s = 'Купи {:.2f} кг картошки и {:.1f} кг оругцов'.format(a, b)
print(s)

Купи 4.53 килограмм картошки и 3.6 килограмм оругцов

In [39]:
s = 'Купи {potatoes:.2f} килограмм картошки и {cucumber:.1f} килограмм оругцов'.\
format(cucumber=b, potatoes=a)
print(s)

Купи 4.53 килограмм картошки и 3.6 килограмм оругцов

In [40]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [41]:
print(4, 6)

4 6

In [42]:
print(4, 6, sep='\n')

4
6

**А что на счет неизменяемости типа?**

In [43]:
s = 'Hello, world!'

In [44]:
s[0]

'H'

In [45]:
s[0] = 'h'

TypeError: 'str' object does not support item assignment

Упс!

## Что можно делать со строками?

Конкатинировать (соединять)

In [81]:
s_1 = 'Наташа'
s_2 = 'Саша'

In [82]:
s_3 = s_1 + s_2
print(s_3)

НаташаСаша

А еще есть много всяких методов (методы вызываются через точку)  
LifeHack жми tab на имени и увидишь все что с ней можно сделать!

In [83]:
s_3.replace('ш', 'щ')

'НатащаСаща'

In [84]:
cities  = 'Москва Париж Варшава'
cities.split()

['Москва', 'Париж', 'Варшава']

In [85]:
cities  = 'Москва,Париж,Варшава'
cities.split(sep=',')

['Москва', 'Париж', 'Варшава']

# Списки

In [86]:
array = [2, 4, 5, 6, 5]

In [87]:
type(array)

list

In [88]:
len(array)

5

In [89]:
array[-1]

5

In [90]:
array[0]

2

Проверка вхождения

In [91]:
5 in array

True

Добавление элемента

In [92]:
array.append(70)
print(array)

[2, 4, 5, 6, 5, 70]

In [93]:
array.pop()

70

In [95]:
array.pop(2)

5

In [96]:
print(array)

[2, 4, 6, 5]

Расширение списка другим списком

In [97]:
array.extend([4, 6, 5])
print(array)

[2, 4, 6, 5, 4, 6, 5]

In [98]:
max(array)

6

In [99]:
min(array)

2

In [100]:
array.index(5)

3

## Срезы

In [101]:
array = [1, 3, 6, 7, 10, 15]
print(array)

[1, 3, 6, 7, 10, 15]

In [102]:
array[:]

[1, 3, 6, 7, 10, 15]

In [103]:
array[:5]

[1, 3, 6, 7, 10]

In [104]:
array[3:5]

[7, 10]

In [ ]:
array[begin: end: step]

In [105]:
array[::2]

[1, 6, 10]

In [106]:
array[::-2]

[15, 7, 3]

In [107]:
array[-1:-4:-2]

[15, 7]

## Кортеж

Неизменяемый тип данных. Похож на список только вот его никак не изменить: ни добавить, ни убавить, ни изменить =(

In [22]:
features = ('Иванов', 'Иван', 23, 185, '245')

In [23]:
features[4]

'245'

Попробуем изменить элемент...

In [24]:
features[4] = '123'

TypeError: 'tuple' object does not support item assignment

## Множества

In [7]:
students = {'Maxim', 'Oleg', 'Igor', 'Vasya', 'Tolya'}
print(type(students))

<class 'set'>

In [10]:
print(students)

{'Maxim', 'Oleg', 'Igor', 'Vasya', 'Tolya'}

Попробуем добавить еще одного Олега

In [11]:
students.add('Oleg')

In [12]:
print(students)

{'Maxim', 'Oleg', 'Igor', 'Vasya', 'Tolya'}

Олег уникален! =). Мораль: в множестве только ункальные элементы!

In [16]:
students.remove('Tolya')
print(students)

{'Maxim', 'Oleg', 'Igor', 'Vasya'}

In [18]:
len(students) # количество элементов

4

In [14]:
s = set() # пустое множество
print(s)
s.add('Olya') # добавили эдемент
print(s)

set()
{'Olya'}

In [15]:
set_of_numbers = {2, 5, 6, 4}
print(set_of_numbers)

{2, 4, 5, 6}

Элементом множество может быть только неизменяемый тип! Нелья добавить список!

In [19]:
students.add(['Mike', 'John'])

TypeError: unhashable type: 'list'

Возможно хранить данные разных типов (неизменяемых)

In [21]:
foo = {2, 4, '4534', (1, 5)}
print(foo)

{'4534', 2, (1, 5), 4}

## Словарь

In [25]:
text = 'А кому нужна война? Никому конечно!'

Частота встречаемости символов

In [27]:
freq = dict()
for letter in text:
    freq.setdefault(letter, 0)
    freq[letter] += 1

In [28]:
freq

{' ': 5,
 '!': 1,
 '?': 1,
 'А': 1,
 'Н': 1,
 'а': 2,
 'в': 1,
 'е': 1,
 'ж': 1,
 'и': 1,
 'й': 1,
 'к': 3,
 'м': 2,
 'н': 5,
 'о': 5,
 'у': 3,
 'ч': 1}

# Условный оператор

In [ ]:
s = 'У меня есть борода'

if 'борода' in s.split():
    print('Да')
else:
    print('Нет')

# Цикл for

In [ ]:
for i in range(10):
    print(i, end=' ')

In [ ]:
for i in range(-5, 11, 2):
    print(i, end=' ')

In [ ]:
smth_iters = range(4)

In [ ]:
type(smth_iters)

Можно интерироваться по списку

In [ ]:
numbers = [3, 6, 5, 2, 7]

for number in numbers:
    print(number)

In [ ]:
for i, number in enumerate(numbers):
    print(i, number)

Хочу просто 5 раз написать приветсвие, зачем мне счетчик? Незачем! Тогда просто напишу черточку =) и вы так делайте)

In [ ]:
for _ in range(6):
    print('Hello', end=' ')

## Вложенные циклы

In [ ]:
for i in range(10):
    for j in range(30):
        print('*', end='')
    print()

Манипуляции с счетчиком бесполезны!

In [ ]:
for i in range(5):
    if i == 3:
        i += 1
    print(i)

In [ ]:
list_from_range = list(range(5))
list_from_range

# Цикл while

In [ ]:
condition = True

while condition:
    condition = False

In [ ]:
while True:
    pass
    break
else:
    pass

In [ ]:
attampts_left  = 3

while attampts_left > 0:
    attampts_left -= 1
    password = input('Enter you password:')
    if password == 'variya':
        print('Access granted')
        break
else:
    print('Access denied')
    
print('-----')
print('Outside')

## Функции

Функции в Python писать совсем не сложно!