# Анализ данных с Pandas
## Часть 2
Автор: Хужина Вария   
Репозиторий курса: https://github.com/VariyaKh/ML_21school

Считаем данные из файла

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/who_suicide_statistics.csv", sep=',')

In [3]:
data.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

## Статистики по признакам

Количество данных по странам

In [4]:
data['country'].value_counts()

Iceland                           456
Hungary                           456
Austria                           456
United Kingdom                    456
Israel                            456
Sweden                            456
Romania                           456
Mauritius                         456
United States of America          456
Netherlands                       456
Finland                           444
Mexico                            444
Belgium                           444
Norway                            444
Denmark                           444
Japan                             444
Hong Kong SAR                     444
Spain                             444
Cuba                              444
Australia                         444
Malta                             444
Luxembourg                        444
Ecuador                           444
Republic of Moldova               444
Greece                            444
Chile                             444
Italy                             444
Poland                            444
Singapore                         444
Puerto Rico                       444
                                 ...
Reunion                           168
Netherlands Antilles              168
Morocco                           156
San Marino                        156
Kiribati                          144
Fiji                              132
Bosnia and Herzegovina            132
Honduras                          120
Maldives                          120
Montenegro                        120
Occupied Palestinian Territory    108
Turkey                             84
Haiti                              84
United Arab Emirates               72
Jordan                             60
Saint Pierre and Miquelon          60
Falkland Islands (Malvinas)        60
Bolivia                            48
Mayotte                            48
Sao Tome and Principe              36
Iran (Islamic Rep of)              36
Oman                               36
Monaco                             24
Saudi Arabia                       24
Mongolia                           24
Tunisia                            24
Cabo Verde                         12
Iraq                               12
Macau                              12
Zimbabwe                           12
Name: country, Length: 141, dtype: int64

Общее колиество мужчин и женщин

In [5]:
data['sex'].value_counts()

male      21888
female    21888
Name: sex, dtype: int64

Какие в таблице есть года

In [6]:
sorted(data['year'].unique())

[1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

Количество незаполненных данных

In [7]:
data['suicides_no'].isnull().sum()

2256

Доля незаполненных данных ко всем

In [8]:
data['suicides_no'].isnull().sum() / data['suicides_no'].count()

0.05433526011560694

Средняя численность населения РФ

In [9]:
data[data['country'] == 'Russian Federation']['population'].mean()

11269312.083333334

Медиана

In [10]:
data[data['country'] == 'Russian Federation']['population'].median()

10858638.0

## GroupBy
groupby(признак1)[признак2] метод, позволяющий группировать данные по признаку1 и получать по нему аггрегированные значения признака2, например среднее, сумма, медиана, количество и т д

Посмотрим количество суицидов в России по годам. Для этого сначала отберем данные только для России, сгруппируем по годам и посчитаем сумму по признаку suicides_no

In [11]:
data[data['country'] == 'Russian Federation'].groupby('year')['suicides_no'].sum()

year
1980    47877.0
1981    47557.0
1982    48663.0
1983        0.0
1984        0.0
1985    44517.0
1986    33229.0
1987    33842.0
1988    35565.0
1989    37921.0
1990    39028.0
1991    39281.0
1992    45923.0
1993    55846.0
1994    61420.0
1995    60548.0
1996    57511.0
1997    54746.0
1998    51518.0
1999    56974.0
2000    56619.0
2001    56958.0
2002    55024.0
2003    51445.0
2004    49096.0
2005    45802.0
2006    42614.0
2007    41149.0
2008    38211.0
2009    37408.0
2010    33356.0
2011    31038.0
2012    29643.0
2013    28690.0
2014    26541.0
2015    25432.0
Name: suicides_no, dtype: float64

Если нам нужно определить год, когда было больше всего суицидов, то можно вызвать метод idxmax()

In [12]:
data[data['country'] == 'Russian Federation'].groupby('year')['suicides_no'].sum().idxmax()

1994

Ничего удивительного! (

In [13]:
type(data[data['country'] == 'Russian Federation'].groupby('year'))

pandas.core.groupby.DataFrameGroupBy

GroupBy это самостоятельный объект, у которого также есть методы. Пример:

In [14]:
data[data['country'] == 'Russian Federation'].groupby('year')

In [15]:
data.groupby('year').groups

{1979: Int64Index([ 1056,  1057,  1058,  1059,  1060,  1061,  1062,  1063,  1064,
              1065,
             ...
             43142, 43143, 43144, 43145, 43146, 43147, 43148, 43149, 43150,
             43151],
            dtype='int64', length=672),
 1980: Int64Index([ 1068,  1069,  1070,  1071,  1072,  1073,  1074,  1075,  1076,
              1077,
             ...
             43526, 43527, 43528, 43529, 43530, 43531, 43532, 43533, 43534,
             43535],
            dtype='int64', length=804),
 1981: Int64Index([ 1080,  1081,  1082,  1083,  1084,  1085,  1086,  1087,  1088,
              1089,
             ...
             43538, 43539, 43540, 43541, 43542, 43543, 43544, 43545, 43546,
             43547],
            dtype='int64', length=996),
 1982: Int64Index([ 1092,  1093,  1094,  1095,  1096,  1097,  1098,  1099,  1100,
              1101,
             ...
             43550, 43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558,
             43559],
            dtype='int64', length=936),
 1983: Int64Index([  372,   373,   374,   375,   376,   377,   378,   379,   380,
               381,
             ...
             43190, 43191, 43192, 43193, 43194, 43195, 43196, 43197, 43198,
             43199],
            dtype='int64', length=948),
 1984: Int64Index([  384,   385,   386,   387,   388,   389,   390,   391,   392,
               393,
             ...
             42434, 42435, 42436, 42437, 42438, 42439, 42440, 42441, 42442,
             42443],
            dtype='int64', length=840),
 1985: Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                 9,
             ...
             43202, 43203, 43204, 43205, 43206, 43207, 43208, 43209, 43210,
             43211],
            dtype='int64', length=1080),
 1986: Int64Index([   12,    13,    14,    15,    16,    17,    18,    19,    20,
                21,
             ...
             43214, 43215, 43216, 43217, 43218, 43219, 43220, 43221, 43222,
             43223],
            dtype='int64', length=1080),
 1987: Int64Index([   24,    25,    26,    27,    28,    29,    30,    31,    32,
                33,
             ...
             43226, 43227, 43228, 43229, 43230, 43231, 43232, 43233, 43234,
             43235],
            dtype='int64', length=1128),
 1988: Int64Index([   36,    37,    38,    39,    40,    41,    42,    43,    44,
                45,
             ...
             43238, 43239, 43240, 43241, 43242, 43243, 43244, 43245, 43246,
             43247],
            dtype='int64', length=1056),
 1989: Int64Index([   48,    49,    50,    51,    52,    53,    54,    55,    56,
                57,
             ...
             43250, 43251, 43252, 43253, 43254, 43255, 43256, 43257, 43258,
             43259],
            dtype='int64', length=1056),
 1990: Int64Index([   60,    61,    62,    63,    64,    65,    66,    67,    68,
                69,
             ...
             43766, 43767, 43768, 43769, 43770, 43771, 43772, 43773, 43774,
             43775],
            dtype='int64', length=1128),
 1991: Int64Index([   72,    73,    74,    75,    76,    77,    78,    79,    80,
                81,
             ...
             42890, 42891, 42892, 42893, 42894, 42895, 42896, 42897, 42898,
             42899],
            dtype='int64', length=1092),
 1992: Int64Index([   84,    85,    86,    87,    88,    89,    90,    91,    92,
                93,
             ...
             43274, 43275, 43276, 43277, 43278, 43279, 43280, 43281, 43282,
             43283],
            dtype='int64', length=1068),
 1993: Int64Index([   96,    97,    98,    99,   100,   101,   102,   103,   104,
               105,
             ...
             43286, 43287, 43288, 43289, 43290, 43291, 43292, 43293, 43294,
             43295],
            dtype='int64', length=1056),
 1994: Int64Index([  108,   109,   110,   111,   112,   113,   114,   115,   116,
               117,
             ...
             43298, 43299, 43300, 43301, 43302, 43303, 43304, 43305, 43306,
             43307],
            dtype='int64', length=1116),
 1995: Int64Index([  120,   121,   122,   123,   124,   125,   126,   127,   128,
               129,
             ...
             42938, 42939, 42940, 42941, 42942, 42943, 42944, 42945, 42946,
             42947],
            dtype='int64', length=1152),
 1996: Int64Index([  132,   133,   134,   135,   136,   137,   138,   139,   140,
               141,
             ...
             43310, 43311, 43312, 43313, 43314, 43315, 43316, 43317, 43318,
             43319],
            dtype='int64', length=1152),
 1997: Int64Index([  144,   145,   146,   147,   148,   149,   150,   151,   152,
               153,
             ...
             43562, 43563, 43564, 43565, 43566, 43567, 43568, 43569, 43570,
             43571],
            dtype='int64', length=1188),
 1998: Int64Index([  156,   157,   158,   159,   160,   161,   162,   163,   164,
               165,
             ...
             43574, 43575, 43576, 43577, 43578, 43579, 43580, 43581, 43582,
             43583],
            dtype='int64', length=1200),
 1999: Int64Index([  168,   169,   170,   171,   172,   173,   174,   175,   176,
               177,
             ...
             43586, 43587, 43588, 43589, 43590, 43591, 43592, 43593, 43594,
             43595],
            dtype='int64', length=1236),
 2000: Int64Index([  180,   181,   182,   183,   184,   185,   186,   187,   188,
               189,
             ...
             43598, 43599, 43600, 43601, 43602, 43603, 43604, 43605, 43606,
             43607],
            dtype='int64', length=1344),
 2001: Int64Index([  192,   193,   194,   195,   196,   197,   198,   199,   200,
               201,
             ...
             43610, 43611, 43612, 43613, 43614, 43615, 43616, 43617, 43618,
             43619],
            dtype='int64', length=1404),
 2002: Int64Index([  204,   205,   206,   207,   208,   209,   210,   211,   212,
               213,
             ...
             43622, 43623, 43624, 43625, 43626, 43627, 43628, 43629, 43630,
             43631],
            dtype='int64', length=1416),
 2003: Int64Index([  216,   217,   218,   219,   220,   221,   222,   223,   224,
               225,
             ...
             43634, 43635, 43636, 43637, 43638, 43639, 43640, 43641, 43642,
             43643],
            dtype='int64', length=1392),
 2004: Int64Index([  228,   229,   230,   231,   232,   233,   234,   235,   236,
               237,
             ...
             43646, 43647, 43648, 43649, 43650, 43651, 43652, 43653, 43654,
             43655],
            dtype='int64', length=1380),
 2005: Int64Index([  240,   241,   242,   243,   244,   245,   246,   247,   248,
               249,
             ...
             43658, 43659, 43660, 43661, 43662, 43663, 43664, 43665, 43666,
             43667],
            dtype='int64', length=1380),
 2006: Int64Index([  252,   253,   254,   255,   256,   257,   258,   259,   260,
               261,
             ...
             43670, 43671, 43672, 43673, 43674, 43675, 43676, 43677, 43678,
             43679],
            dtype='int64', length=1356),
 2007: Int64Index([  264,   265,   266,   267,   268,   269,   270,   271,   272,
               273,
             ...
             43682, 43683, 43684, 43685, 43686, 43687, 43688, 43689, 43690,
             43691],
            dtype='int64', length=1320),
 2008: Int64Index([  276,   277,   278,   279,   280,   281,   282,   283,   284,
               285,
             ...
             43694, 43695, 43696, 43697, 43698, 43699, 43700, 43701, 43702,
             43703],
            dtype='int64', length=1404),
 2009: Int64Index([  288,   289,   290,   291,   292,   293,   294,   295,   296,
               297,
             ...
             43706, 43707, 43708, 43709, 43710, 43711, 43712, 43713, 43714,
             43715],
            dtype='int64', length=1452),
 2010: Int64Index([  300,   301,   302,   303,   304,   305,   306,   307,   308,
               309,
             ...
             43718, 43719, 43720, 43721, 43722, 43723, 43724, 43725, 43726,
             43727],
            dtype='int64', length=1404),
 2011: Int64Index([  312,   313,   314,   315,   316,   317,   318,   319,   320,
               321,
             ...
             43730, 43731, 43732, 43733, 43734, 43735, 43736, 43737, 43738,
             43739],
            dtype='int64', length=1380),
 2012: Int64Index([  324,   325,   326,   327,   328,   329,   330,   331,   332,
               333,
             ...
             43742, 43743, 43744, 43745, 43746, 43747, 43748, 43749, 43750,
             43751],
            dtype='int64', length=1332),
 2013: Int64Index([  336,   337,   338,   339,   340,   341,   342,   343,   344,
               345,
             ...
             43514, 43515, 43516, 43517, 43518, 43519, 43520, 43521, 43522,
             43523],
            dtype='int64', length=1320),
 2014: Int64Index([  348,   349,   350,   351,   352,   353,   354,   355,   356,
               357,
             ...
             43130, 43131, 43132, 43133, 43134, 43135, 43136, 43137, 43138,
             43139],
            dtype='int64', length=1248),
 2015: Int64Index([  360,   361,   362,   363,   364,   365,   366,   367,   368,
               369,
             ...
             43754, 43755, 43756, 43757, 43758, 43759, 43760, 43761, 43762,
             43763],
            dtype='int64', length=960),
 2016: Int64Index([  708,   709,   710,   711,   712,   713,   714,   715,   716,
               717,
             ...
             42362, 42363, 42364, 42365, 42366, 42367, 42368, 42369, 42370,
             42371],
            dtype='int64', length=300)}

Множество примеров использования groupby вы можете найти в [документации](http://pandas.pydata.org/pandas-docs/stable/groupby.html?highlight=groupby)