## Попробуем решить задачу регрессии с помощью kNN

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Считываем данные, которые мы подготовили на предыдущем шаге

In [2]:
!ls data

who_suicide_statistics.csv  who_suicide_statistics_train.csv

In [3]:
data = pd.read_csv("data/who_suicide_statistics_train.csv", sep='\t')

In [4]:
data.head()

,year,sex,age,suicides_no,population,country_Albania,country_Anguilla,country_Antigua and Barbuda,country_Argentina,country_Armenia,...,country_Turks and Caicos Islands,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States of America,country_Uruguay,country_Uzbekistan,country_Venezuela (Bolivarian Republic of),country_Virgin Islands (USA),country_Zimbabwe
0,1985,1,1,0.0,277900.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1985,1,2,0.0,246800.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1985,1,3,0.0,267500.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1985,1,0,0.0,298300.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1985,1,4,0.0,138700.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data.shape

(38316, 146)

В этой задаче мы будем предсказывать количество суицидов. Целевой признак это suicides_no.

In [6]:
X = data.drop(['suicides_no'], axis=1)
y = data['suicides_no']

Приведение к одному масштабу. Как вы думаете, для чего нужно приводить данные к одному масштабу?

In [7]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

Разделим выборку на train и test

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3)

Создадим модель

In [9]:
knn = KNeighborsRegressor(n_neighbors=3)

## Обучение

Обучим ее

In [10]:
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=2,
          weights='uniform')

## Предсказание

In [11]:
%%time
y_pred = knn.predict(X_test)

CPU times: user 40.2 s, sys: 0 ns, total: 40.2 s
Wall time: 40.2 s

## Оценка качества по MSE

In [12]:
MSE = mean_squared_error(y_test, y_pred)

In [13]:
MSE

31993.642337248086

Сравнение с константным предсказанием

In [14]:
mean_squared_error(y_test, [y_test.mean()] * len(y_test))

660837.1463259192

Какие можно сделать выводы?